@charset "UTF-8";

*{
    box-sizing: border-box;
    
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue';
    font-weight: 500;
    &.open-menu{
        overflow: hidden;
    }
    button{
        border: none;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    ul{
        list-style: none;
    }
    header{
        background-color: #fff;
        display: flex;
        overflow: hidden;
        width: 100%;
        height:90px;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        div {
            animation-duration: 1200ms;
            display: flex;
            flex-direction: row;
            padding: 5px 0px 0px 10px;
            svg{
                width: 130px;
            }
        }
        nav.show-desktop{
            display: none;
            a{
                &:nth-child(1){
                    animation-duration:700ms;
                }
                &:nth-child(2){
                    animation-duration:1100ms;
                } 
                &:nth-child(3){
                    animation-duration:1200ms;
                } 
                &:nth-child(4){
                    animation-duration:1400ms;
                } 
                &:nth-child(5){
                    animation-duration:1600ms;
                }  
            }            
        }
        button{
            display: flex;
            padding: 10px;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            background-color: #25409A;
            animation-duration: 900ms;
        }
    }
    > div.overlay{
        display: flex;
        z-index: 2;
        width: 100%;
        height: 100vh;
        background-color: #00000085;
        position: fixed;
        left: -100%;
        top: 0;
        transition: all 500ms ease-in-out;
        &.open-menu{
            left:0;
        }
    }

    > div{
        &.open-menu{
            display: flex;
        }
    } 

    > div.mobile-menu{
        flex-direction: row;
        padding: 10%;
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 100vh;
        z-index: 3;
        position: fixed;
        background-color: #25409A;
        right: -300px;
        top: 0;
        transition: all 1s ease-in-out;
        &.open-menu{
            right:0px;
        }
        nav{
            pointer-events: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 20px;
            align-items:center;
            a{
                margin-top: 20px;
                pointer-events: all;
                font-weight: 200;
                font-size: 18px;
                text-align: center;
                width: 100%;
                color: #fff;
            }
        }
        
    }
    main{
        overflow-y: hidden;
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            section#hero{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 2150px;
                div#download-app{
                    padding: 0px 15px 0px 20px;
                    width: 100%;
                    display: table;
                    justify-items: center;
                    flex-direction: row;
                    animation-duration:1100ms;
                    h1{
                        padding: 0;
                        margin: 0;
                        color:#436ccc;
                        font-size: 1.2em;
                        margin-bottom: 0px;
                        letter-spacing: 1px;
                        transform: scale(1, 0.9);
                    }
                    h2{
                        max-width: 366px;
                        min-height: 27px;
                        margin-top: 10px;
                        margin-bottom: 15px;
                        color: #211F62;
                        text-align: left;
                        font-size: 34px;
                    }
                    p{
                        margin-top: 0px;;
                        padding-top: 0px;
                        max-width: 435px;
                        color: #6f6fa3;
                        font-size: 15px;
                        text-align:left;
                    }
                    div#download-buttons{
                        padding: 20px 3px 0px 3px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 290px;
                        margin-left: 0px;
                        justify-content: space-around;
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 13px;
                            padding: 16px;
                            font-weight: 600;
                            border-radius: 27px;
                            color: #32306E;
                            box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
                        }
                        a:first-child{
                            background-color: #FB6E67;
                            color: #261e1e;
                            box-shadow: none;
                        }
                    }
                
                }
                div#lottie-animation{
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                    padding:0;
                    margin:0;
                    animation-duration: 1300ms;
                    img{
                        width: 100%;
                        margin-top: 30px;
                    }
                } 
            }    
    }

    div#about-us{
        background-color: #7f9de4d1;
        overflow: hidden;
        display: block;
        margin: 0;
        width: 100%;
        min-height: 100vh;
        max-height: 720px;
        section#our-objective{
            overflow: hidden;
            display: flex;
            flex-direction: column-reverse;
            padding-top: 50px;
            div#list-animation{  
                padding-top: 20px;
                lottie-player{
                    width: 300px; 
                    height: 300px;
                    margin: 0 auto;
                    transform: translateY(-102px);
                    border-radius: 13px;
                }
                ul{
                    padding: 0;
                    li{
                        font-size: 1.3em;
                        color: black;
                        text-align: left;
                        background: url("../imagens/check.svg") no-repeat;
                        list-style: none;
                        margin: 0;
                        vertical-align: middle;
                        padding: 10px 0 15px 50px;
                        margin-bottom: 15px;
                    }
                }              
            }
            div#text{
                display: flex;
                padding:0px 5px;
                text-align: center;
                    h3{
                        font-size: 1.2em;
                        color: #a33731;
                        margin-bottom: 0px;
                        letter-spacing: 1px;
                        animation-duration: 1000ms;
                    }
                    h2{
                        animation-duration: 1000ms;
                        margin-bottom: 6px;      
                        font-size: 2em;
                        font-weight: 600;
                        color: #32306E;
                        max-width: 512px;
                    }
               
                }
        }
    }
    div#our-doctors{
        padding: 50px 0px 70px 0px;
        background: blue;
        width: 100%;
        min-height:100vh ;
        background-color: white;
        section{
            div.doctors-list{
                text-align: center;
                h3{
                    font-size: 1em;
                    letter-spacing: 1px;
                    transform: scale(1, 0.9);
                    color:#618FFB;
                    animation-duration: 1300ms;
                }
                h2{
                    animation-duration: 1300ms;
                    padding: 0px 8.3px;
                    margin-top: 0px;
                    font-size: 2em;
                    color: #211F62;
                }
            }
            div.cards-list{
                animation-duration: 1000ms;
                display: flex;
                flex-direction: column;
                div.cards{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 13px;
                    max-width: 200px;
                    max-height: 450px;
                    padding: 0px; 
                    padding-bottom: 20px;
                    text-align: center;
                    background-color: white;
                    box-shadow: 0 1px 6px rgba(0, 0, 1, 0.131);
                    transition: 0.5s ease-in-out;
                    margin-top: 35px;
                    lottie-player{
                        width: 400px; 
                        height: 300px;
                        transform: translateY(-3px);
                        
                    }
                    div.card-info{
                        background-color: white;
                        transform: translateY(-40px);
                        h2{
                            max-width: 185px;
                            color: #211F62;
                            margin: 20px 0px 0px 0px;
                        }
                        h3{
                            max-width: 185px;
                            color: #4B80FC;
                            margin: 10px 0px;
                        }
                        p{
                            max-width: 190px;
                            margin: 0px;
                            padding: 0px 10px;
                            
                        }
                    }
                    &:hover{
                        box-shadow: 0 1px 6px rgba(0, 0, 1, 0.452);
                        transform: scale(1.1, 1.1);
                        cursor: pointer;
                    }

                }

            }
        }
    }
    >hr{
        margin-bottom:100px;
        background: #436ccc30;
        outline: none;
        border: 0.2px solid #436ccc30;
        height: 0.1px;
        border-radius: 300px;
        width: 85%;
        max-width: 2172px;
        animation-duration: 1000ms;
    }
    div#faq{
        margin-top: 50px;
        width: 100%;
        section{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: 100%;
            justify-content: center;
            align-items: center;
            div{
                h2{
                    animation-duration: 700ms;
                    margin: 0px auto 0px 8%;
                    margin-bottom: 10px;
                    color: #211F62;
                    font-size: 1.3em;
                }
                span{
                    animation-duration: 600ms;
                    font-size: 2.1em;
                    width: 85%;
                    color: #EF6D58;
                }
                p{
                    animation-duration: 700ms;
                    width: 86%;
                    font-size: 1em;
                }
                a{
                    animation-duration: 1000ms;
                    color: #211F62;
                    margin: 0px auto 0px 7.5%;
                }
            }
            div.faq-questions{
                max-width: 510px;
                width: 90%;
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                margin-top: 70px;
                div.faq-item{
                    padding: 10px 8px;
                    background-color: #fff;
                    border: 1px solid #32306E;
                    margin-bottom: 1px;
                    transition: 200ms ease-in-out;
                    &:nth-child(1){
                        animation-duration:700ms;
                    }
                    &:nth-child(2){
                        animation-duration:1100ms;
                    } 
                    &:nth-child(3){
                        animation-duration:1200ms;
                    } 
                    &:nth-child(4){
                        animation-duration:1400ms;
                    } 
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                    &:first-child{
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        div{
                            border-bottom: 1px solid #32306E;
                        }
                    }
                    &:last-child{
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        margin-bottom: 70px;
                    }
                    div{
                        
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        h3{
                            text-align: center;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
  }
    footer{
        text-align: center;
        background-color: #211F62;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul{
            padding-left: 0px;
            margin-bottom: 60px;
            li{
                padding-bottom: 13px;
                font-size: 1.2em;
            }
        }
        h3{
            margin-bottom: 30px;
            font-size: 1.4em;
            color: #FB6E67;
        }
        div.footer-top{
            display:flex;
            flex-direction: column;
            h2{
                margin: 60px 0px;
                font-size: 1.8em;
                color: #d5514a;
            }
            div.footer-social-medias{
                margin-bottom: 30px;
                a{
                    svg.icon{
                        width: 30px;
                        height: 30px;
                    }
                    svg.middle-icon{
                        margin: 0px 25px;
                    }
                }       
            }
        }
        width: 100%;
        > hr{
            background: #ffffff;
            outline: none;
            border: 0.2px solid #fff;
            height: 0.1px;
            border-radius: 300px;
            width: 85%;
        }
         div.footer-bottom{
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
            padding-bottom: 30px;
            >p{
                width: 90%;
                font-size:1.3em;
            }
            div.terms{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;    
                > .use-terms-botton,.privacy-policy-botton{
                    font-size:1.2em;
                }
            }
            
         }
    } 
}

.fadeRigthAnimation{
    animation-name: fadeRigthAnimation;
}

@keyframes fadeRigthAnimation{
    from{
        transform: translateX(500px);
        opacity:0;
    }
    to{
        transform: translateX(0px);
        opacity:1;
    }
}

.fadeLeftAnimation{
    animation-name: fadeLeftAnimation;
}

@keyframes fadeLeftAnimation{
    from{
        transform: translate(-700px, -70px);
        opacity:0;
    }
    to{
        transform: translate(0px,0px);
        opacity:1;
    }
}

.fadeDownAnimation{
    animation-name: fadeDownAnimation;
    
}

@keyframes fadeDownAnimation{
    from{
        transform: translateY(-100px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}

.fadeUpAnimation{
    animation-name: fadeUpAnimation;
    
}

@keyframes fadeUpAnimation{
    from{
        transform: translateY(100px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}

@media screen and (min-height:646px){
    main{
        div{
            section#hero{
                min-height: 100vh;
            }
        }
    }
}

@media screen and (max-height:686px){
    main{
        div{
            section#hero{
                margin-top: 30px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    
    body{
        header{
            padding:60px;
            nav.show-desktop{
                display: flex;
                align-items: center;
                a{
                    position: relative;
                    display: inline-block;
                    padding: 10px;
                    color: #211F62;
                    margin-left: 8px;
                    &:last-child{
                        border-radius: 27px;
                        transition: 600ms ease-in-out;
                        &:hover{
                            font-weight: 600;
                            padding:16px 20px;
                            color: #ffffff;
                            background-color: #FB6E67;      
                        }
                    }
                    &.underline-animation{
                        &:after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #211F62;
                            transform-origin: bottom right;
                            transition: transform 0.5s ease-out;
                        }
    
                        &:hover{
                            &:after{
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                   
                }
            }
            button{
                display: none;
            }
        }
        main{
            margin-top: 70px;
            div{
                section#hero{            
                    div#download-app{
                        justify-content: center;
                        width: 60%;
                    }
                    div#lottie-animation{
                        width: 40%;
                    }
                }
            }
            div#about-us{
                max-height: unset;
                section#our-objective{
                    overflow: hidden;
                    align-items: flex-start;
                    justify-content: center;
                    
                    div#list-animation{
                        ul{
                            li{
                                font-size: 1.6em;
                            }
                        }
                        lottie-player{
                            width: 350px;
                            height: 350px;
                            transform: translate(-35px,-112px);
                        }
                        transform: translateY(30px);
                    }
                    div#text{
                        padding-left: 20px;
                        h3{
                            margin-top: 60px;
                            font-size: 2em;
                        }
                        h2{
                            font-size: 2.4em;
                        }
                    }
                }
            }
            div#our-doctors{
                margin-top: 0px;
                section{
                    div.doctors-list{
                        h3{
                            font-size: 1.7em;
                        }
                        h2{
                            padding: 0px 30px;
                            font-size: 2.6em;
                        }
                    }
                    div.cards-list{
                        flex-direction: row;
                        flex-wrap: wrap;
                        div.cards{
                            margin: 20px 40px;
                        }
                    }
                }
            }
        }     
    }
}

@media screen and (min-width:1120px){
    body{
        main{
            div#our-doctors{
                section{
                    div.doctors-list{
                        h3{
                           font-size: 1.8em; 
                        }
                        h2{
                            font-size: 3.3em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body{
        main{
            margin-top: 0px;
            div{
                section#hero{
                    flex-direction: row;   
                    padding-bottom: 50px;
                    div#download-app{
                        width: 40%;
                    }
                }
            }
            div#faq{
                section{
                    max-width: 1290px;
                    flex-direction: row;
                    align-items: flex-start;
                    div.faq-questions{
                        margin-top: 0px;
                        margin-right: 2%;
                    }
                }
            }
        }
        footer{
            padding-top: 70px;
            width: 100%;
            div.footer-top{
                max-width: 1326px;
                h3{
                        margin: 10px;
                    }
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                h2{
                    margin: 0px;
                }
                div.footer-social-medias{
                    margin: 10px;
                }
                
            }
            hr{
                max-width: 1326px;
            }
            div.footer-bottom{
                justify-content: center;
                flex-direction: row;
                width: 80%;
                max-width: 1200px;
                p{
                    display: flex;
                    justify-content: flex-start;
                }
                div.terms{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width:100%;
                    .use-terms-botton{
                        margin-right: 50px;
                    }
                   
                }
            }
        }
    } 
}

@media screen and (min-width:768px) and (max-width:1024px) {
    body{
        main{
            div{
                section#hero{
                    padding-top: 0px;
                    overflow: hidden;
                    justify-content: center;                
                    div#download-app{
                        position:relative;
                        z-index: 1;
                    }
                    div#lottie-animation{
                        min-width: 400px; 
                        min-height: 400px;
                        z-index: 0;
                        position:relative;
                    }
                }
            }
        }     
    }
}


@media screen and (min-width:1200px) {
    body{
        main{
            div{
                section#hero{
                    padding-top: 0px;
                    overflow: hidden;
                    justify-content: center;                
                    div#download-app{
                        position:relative;
                        z-index: 1;
                        h1{
                            font-size: 1.5em ;
                        }
                        h2{
                            font-size: 2.76em;
                            max-width: 700px;
                        }
                        p{
                            font-size: 1.2em;
                        }
                        div#download-buttons{
                            max-width: 400px;
                            a{
                                padding:18px;
                                font-size: 16px;
                            }
                        }
                    }
                    div#lottie-animation{
                        min-width: 400px; 
                        min-height: 400px;
                        z-index: 0;
                        position:relative;
                    }
                }
            }
            div#about-us{
                min-height: 760px;
                section#our-objective{
                    div#list-animation{
                        ul{
                            li{
                                font-size: 1.8em;
                            }
                        }
                        lottie-player{
                            width: 400px;
                            height: 400px;
                            transform: translate(-25px,-120px);
                        }
                        transform: translateY(30px);
                    }
                    div#text{
                        h3{
                            margin-top: 60px;
                            font-size: 2.2em;
                        }
                        h2{
                            font-size: 3em;
                            max-width: 700px;
                        }
                    }
                }
            }
        }     
    }
}



@media screen and (min-width:1440px){
    body{
        main{
            div{
                section#hero{
                    
                    
                    div#download-app{
                        height: auto;
                        margin-left: 15%;
                        h1{
                            font-size: 1.9em;
                        }
                        h2{
                            font-size: 3.8em;
                            
                        }
                        p{
                            margin-bottom: 0px;
                            font-size: 1.35em;;
                        }
                        div#download-buttons{
                            padding-top: 30px;
                            a{
                                font-size: 18px;
                            }
                        }
                    }
    
                    div#lottie-animation{
                        margin-right: 15%;
                        max-width: 600px;
                        max-height: 600px;
                    }
                }
            }
            div#about-us{
                section#our-objective{
                    padding-top: 25px;
                    div#list-animation{
                        transform: translateY(0px);
                        
                        ul{
                            transform: translateY(20px);
                            li{
                                font-size: 2.5em;
                            }
                        }
                        lottie-player{
                            width: 500px;
                            height: 500px;                         
                        }
                    }
                    div#text{
                        h3{
                            font-size: 3em;
                        }
                        h2{
                            font-size: 4.5em;
                        }
                    }
                }
            }
            div#our-doctors{
                section{
                    div.doctors-list{
                        h3{
                            font-size: 2.6em;
                        }
                        h2{
                            font-size: 3.6em;
                        }
                    }
                    div.cards-list{
                        flex-wrap: nowrap;
                        padding-top: 6%;
                        padding-bottom: 10%;
                        div.cards{
                            margin: 0px 5%;
                            transform: scale(1.3);
                            &:hover{
                                transform: scale(1.4);
                            }
                        }
                    }
                }
            }
            
            div#faq{
                margin-top: 0px;
                section{
                    div.faq-head{
                        h2{
                            font-size: 2em;
                        }
                        span{
                            font-size: 3em;
                        }
                        >p{
                            font-size: 1.6em;
                        }
                        a{
                            font-size: 1.4em;
                        }
                    }
                    div.faq-questions{
                        div.faq-item{
                            div{
                                h3{
                                    font-size: 1.5em;
                                }
                            }
                            p{
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }     
    }
}